@page "/ManageRequisition"
@layout CustomLayout
@inject HttpClient Http

<div class="dashMainContainer px-3 pt-3 pb-5">

    <div class="card" style="height:100%">
        <div class="card-header">
            Requisition List
            &nbsp;
            <a href="PurchaseRequisition">New Requisition</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td></td>
                    <td style="width:100px">Req. No.</td>
                    <td>Requester</td>
                    <td>Request Department</td>
                    <td>Request For</td>
                    <td style="width:100px">Request Date</td>
                    <td style="width:100px">Require Date</td>
                    <td style="width:40px">Req. Total</td>
                    <td>Priority</td>
                    <td scope="col">Status</td>
                </tr>
            </thead>
            <tbody>
                @if (requisitionList != null)
                {
                    foreach (var item in requisitionList)
                    {
                        <tr>
                            @if (item.STATUS == "Open")
                            {
                                <td scope="col"><a href="EditRequisition/@item.REQUISITION_NO">Edit</a></td>
                            }
                            else
                            {
                                <td></td>
                            }

                            <td scope="col"><a href="ViewPurchaseRequisitionDetails/@item.REQUISITION_NO">@item.REQUISITION_NO</a></td>


                            <td scope="col">@item.REQUESTED_BY</td>
                            <td scope="col">@item.DEPARTMENT_NAME</td>
                            <td scope="col">@item.REQUEST_FOR</td>
                            <td scope="col">@item.REQUEST_DATE</td>
                            <td scope="col">@item.REQUIRED_DATE</td>
                            <td scope="col">@item.REQUISITION_TOTAL</td>
                            <td>@item.PRIORITY</td>
                            <td scope="col">@item.STATUS</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>






@code {
    List<PurchaseRequisitionViewEntity> requisitionList = new List<PurchaseRequisitionViewEntity>();

    protected override async Task OnInitializedAsync()
    {
        await GetPurchaseRequisition();
    }
    private async Task GetPurchaseRequisition()
    {
        requisitionList = await Http.GetJsonAsync<List<PurchaseRequisitionViewEntity>>(Utility.BaseUrl + "api/Purchase/ManageRequisition");
    }

}
