@page "/UpdatePurchaseOrder/{po_number}"
@layout CustomLayout
@using System.Data
@using System.IO
@inject HttpClient Http
@using System.Collections.Generic;
@using System.Data;
@using System.Reflection;
@*@inject IHostingEnvironment _host*@
@inject IToastService toastService
@inject IJSRuntime JSRuntime
@inject Microsoft.JSInterop.IJSRuntime JsRuntime

<style>
    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    /*.tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }*/

    table {
        border-collapse: collapse;
    }



    th,
    td {
        border: 1px solid #888;
        /*padding: 0.25em 0.5em;*/
    }
    /*--------------*/





    tr td input {
        width: 100%;
    }
</style>

<div class="dashboard-details">
    <h4 class="p-2"><img src="images/fountain-pen.png" alt="" width="50" height="50" class="mr-3"><span class="text-uppercase">Update PURCHASE ORDER</span>  </h4>
    <div class="newRequsitionForm-content">
        <div class="container-fluid">
            <EditForm Model="@purchaseOrderModel" OnValidSubmit="@SavePurchaseOrder">
                <!--<div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-5" style="background-color:steelblue;color:white"><label>Requisition NO:</label></div>
                            <div class="col-md-7">@reqView.REQUISITION_NO</div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-5" style="background-color:steelblue;color:white"><label>Requester:</label></div>
                            <div class="col-md-7">@reqView.REQUESTED_BY</div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-5" style="background-color:steelblue;color:white"><label>Department:</label></div>
                            <div class="col-md-7">@reqView.DEPARTMENT_NAME</div>
                        </div>
                    </div>-->

                    @*----------------------------New Column-------------------------*@

                    <!--<div class="col-lg-6">
                        <div class="addRequisitionItems">
                            <div class="addRequisitionItemsForm">
                                <div class="row">
                                    <div class="col-md-5" style="background-color:steelblue;color:white"><label>Request Date:</label></div>
                                    <div class="col-md-7">@reqView.REQUEST_DATE</div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-5" style="background-color:steelblue;color:white"><label>Require Date:</label></div>
                                    <div class="col-md-7">@reqView.REQUIRED_DATE</div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-5" style="background-color:steelblue;color:white"><label>Status:</label></div>
                                    <div class="col-md-7">@reqView.STATUS</div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>-->
                <br />
                <fieldset class="border p-4">
                    <legend class="w-auto">Purchase Order(PO)</legend>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button style="background-color:@_localcolor" @onclick="Local_Tab_Click" class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false">LOCAL</button>
                            <button class="nav-link" style="background-color:@_intcolor" id="nav-profile-tab" @onclick="Int_Tab_Click" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">INTERNATIONAL</button>

                        </div>
                    </nav>
                    @*<div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
                            <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                        </div>*@

                    <br />



                    <div class="row">

                        @*<label>Vendor Type</label>&nbsp;&nbsp;
                            <input type="checkbox" checked />&nbsp;&nbsp; <label>LISTED</label>&nbsp;&nbsp;<input type="checkbox" /> &nbsp;&nbsp;<label>UNLISTED</label>*@
                        @*<br />
                            <div class="analytic_details_contain_two">
                                <table class="table table-striped">
                                    <thead style="background-color:lightsteelblue;color:white;height:20px">
                                        <tr>
                                            <td></td>
                                            <td scope="col" width="90px">VendorCode</td>
                                            <td scope="col">Company Name</td>
                                            <td scope="col">Contact No.</td>
                                            <td scope="col">Email</td>
                                            <td scope="col">Vendor Type</td>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (vendorList != null)
                                        {
                                            foreach (var vendor in vendorList)
                                            {
                                                <tr>
                                                    <td scope="col"><input type="checkbox" @onchange="eventArgs => { CheckboxClicked(Convert.ToString(vendor.VENDOR_ID), eventArgs.Value); }" /></td>
                                                    <td scope="col" width="90px">@vendor.VENDOR_CODE</td>
                                                    <td scope="col">@vendor.VENDOR_NAME</td>
                                                    <td scope="col">@vendor.CONTACT_NO</td>
                                                    <td scope="col">@vendor.EMAIL</td>
                                                    <td scope="col">@vendor.VENDOR_TYPE_STATUS</td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>*@
                        <br />
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-md-5"><label>VENDOR:</label></div>
                                <div class="col-md-7">
                                    <InputSelect @bind-Value="@purchaseOrderModel.VENDOR_ID" style="width:303px;height:28px">
                                        <option value="">--Select Vendor--</option>
                                        @foreach (var item in selectedVendorList)
                                        {
                                            <option value="@item.VENDOR_ID">@item.VENDOR_NAME</option>
                                        }

                                    </InputSelect>



                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-5"><label>PO NO.:</label></div>
                                <div class="col-md-7"><InputText @bind-Value="@purchaseOrderModel.PO_NUMBER_LONG_CODE" maxlength="100"></InputText></div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-5"><label>PO DATE:</label></div>
                                <div class="col-md-7"><input style="width:203px" type="text" id="date_1" @bind-value="@po_date" autocomplete="off" /></div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-5"><label>REQUISION NO.:</label></div>
                                <div class="col-md-7"><InputText @bind-Value="@purchaseOrderModel.REQUISITION_NO" maxlength="100"></InputText></div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-5"><label>QUOTATION REF.NO.:</label></div>
                                <div class="col-md-7"><InputText @bind-Value="@purchaseOrderModel.QUOTATION_REFERANCE_NO" maxlength="100"></InputText></div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-5"><label>QUOTATION REF. DATE:</label></div>
                                <div class="col-md-7"><input style="width:203px" type="text" id="datepicker_planstart" autocomplete="off" @bind-value="@quotation_ref_date" /></div>
                            </div>
                            @if (IL_OPTION == 3)
                            {
                                <div class="row mt-1">
                                    <div class="col-md-5"><label>TRANSECTION TYPE:</label></div>
                                    <div class="col-md-7">
                                        <InputSelect @bind-Value="@purchaseOrderModel.TRUNSECTION_TYPE" style="width:203px;height:28px">
                                            <option value="Purchase">Purchase</option>
                                        </InputSelect>
                                    </div>
                                </div>
                            }

                            <div class="row mt-1">
                                <div class="col-md-5"><label>DELIVERY TIME:</label></div>
                                <div class="col-md-7">
                                    <select style="width:203px;height:28px" @onchange="DeliveryTimeClicked">
                                        <option value=""></option>
                                        @foreach (var item in pdeliverytimelist)
                                        {
                                            <option value="@item.PURCHASE_DELIVERY_TIME_ID">@item.PURCHASE_DELIVERY_TIME</option>
                                        }

                                    </select>
                                    @if (deliveryTime == "2")
                                    {<InputText @bind-Value="@purchaseOrderModel.DELIVERY_TIME" maxlength="100" style="width:300px"></InputText>}


                                </div>
                            </div>
                            @if (IL_OPTION == 1)
                            {
                                <div class="row mt-1">
                                    <div class="col-md-5"><label>SHIPPING ADDRESS:</label></div>
                                    <div class="col-md-7">
                                        <InputSelect @bind-Value="@purchaseOrderModel.SHIPPING_ADDRESS" style="width:203px;height:28px">
                                            <option value=""></option>
                                            @foreach (var item in shippingAddressList)
                                                {
                                                <option value="@item.SHIPPING_ADDRESS">@item.SHIPPING_ADDRESS</option>
                                                }
                                        </InputSelect>
                                        <img src="images/fileicon.png" alt="" style="width:27px;height:24px" data-toggle="modal" data-target=".bd-example-modal-lg-shipping" />
                                        @*<InputTextArea @bind-Value="@purchaseOrderModel.SHIPPING_ADDRESS" maxlength="100" style="width:300px"></InputTextArea>*@
                                    </div>
                                </div>
                            }

                            @if (IL_OPTION == 1)
                            {
                                <div class="row mt-1">
                                    <div class="col-md-5"><label>DELIVERY MODE:</label></div>
                                    <div class="col-md-7">
                                        <InputSelect @bind-Value="@purchaseOrderModel.DELIVERY_MODE" style="width:203px;height:28px">
                                            <option value=""></option>
                                            @foreach (var item in deliveryModeList)
                                                {
                                                <option value="@item.DELIVERY_MODE">@item.DELIVERY_MODE</option>
                                                }
                                        </InputSelect>
                                        <img src="images/fileicon.png" alt="" style="width:27px;height:24px" data-toggle="modal" data-target=".bd-example-modal-lg-deliverymode" />
                                    </div>
                                </div>
                            }

                            <div class="row mt-1">
                                <div class="col-md-5"><label>PAYMENT TERM:</label></div>
                                <div class="col-md-7">
                                    <InputSelect @bind-Value="@purchaseOrderModel.PAYMENT_TERM" style="width:203px;height:28px">
                                        <option value=""></option>
                                        @foreach (var item in paymentTermList)
                                        {
                                            <option value="@item.PAYMENT_TERM">@item.PAYMENT_TERM</option>
                                        }
                                    </InputSelect>
                                    <img src="images/fileicon.png" alt="" style="width:27px;height:24px" data-toggle="modal" data-target=".bd-example-modal-lg-paymentTerm" />
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-5"><label>CURRENCY:</label></div>
                                <div class="col-md-7">
                                    <InputSelect @bind-Value="@purchaseOrderModel.CURRENCY_NAME" style="width:203px;height:28px">
                                        @foreach (var item in currencyModel)
                                        {
                                            <option value="@item.CURRENCY_NAME">@item.CURRENCY_NAME</option>
                                        }
                                    </InputSelect>
                                </div>
                            </div>
                            @if (IL_OPTION == 1)
                            {
                                <div class="row mt-1">
                                    <div class="col-md-5"><label>PAYMENT MODE:</label></div>
                                    <div class="col-md-7">
                                        <InputSelect @bind-Value="@purchaseOrderModel.PAYMENT_MODE" style="width:203px;height:28px">
                                            <option value=""></option>
                                            <option value="Cash">Cash</option>
                                            <option value="Cheque">Cheque</option>
                                        </InputSelect>
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="col-lg-5">
                            @if (IL_OPTION == 2)
                            {
                                <div class="row">
                                    <div class="col-md-5"><label>INCOTERM:</label></div>
                                    <div class="col-md-7">
                                        <InputSelect @bind-Value="@purchaseOrderModel.INCOTERM" style="width:203px;height:28px">
                                            <option value=""></option>
                                            <option value="EX – Works">EX – Works</option>
                                            <option value="FOB">FOB</option>
                                            <option value="CFR">CFR</option>
                                            <option value="CIF">CIF</option>
                                        </InputSelect>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-5"><label>SHIP VIA:</label></div>
                                    <div class="col-md-7">
                                        <InputSelect @bind-Value="@purchaseOrderModel.SHIP_VIA" style="width:203px;height:28px">
                                            <option value=""></option>
                                            <option value="Sea">Sea</option>
                                            <option value="Air">Air</option>
                                            <option value="Land">Land</option>
                                            <option value="Local/Agent">Local/Agent</option>
                                        </InputSelect>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-5"><label>CONTAINER SIZE:</label></div>
                                    <div class="col-md-7">
                                        <select style="width:203px;height:28px" @onchange="ComoditySizeClicked">
                                            <option value=""></option>
                                            <option value="1">LCL</option>
                                            <option value="2">FCL</option>
                                        </select>
                                        <br />
                                        @if (comodity == "2")
                                        {<br /><input type="checkbox" @onchange="eventArgs => { FCL_1_Clicked(eventArgs.Value); }" /> <label>1 X 20 ft </label> <input type="checkbox" @onchange="eventArgs => { FCL_2_Clicked(eventArgs.Value); }" /> <label>1 X 40 ft </label>}

                                    </div>
                                </div>

                                <div class="row mt-1">
                                    <div class="col-md-5"><label>COUNTRY OF ORIGIN:</label></div>
                                    <div class="col-md-7">
                                        <InputSelect @bind-Value="@purchaseOrderModel.COUNTRY_OF_ORIGIN" style="width:203px;height:28px">
                                            <option value=""></option>
                                            @foreach (var item in countryList)
                                                {
                                                <option value="@item.COUNTRY_NAME">@item.COUNTRY_NAME</option>
                                                }
                                        </InputSelect>
                                        <img src="images/fileicon.png" alt="" style="width:27px;height:24px" data-toggle="modal" data-target=".bd-example-modal-lg-country" />
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-5"><label>IMPORT FROM:</label></div>
                                    <div class="col-md-7">
                                        <InputSelect @bind-Value="@purchaseOrderModel.IMPORT_FROM" style="width:203px;height:28px">
                                            <option value=""></option>
                                            @foreach (var item in countryList)
                                                {
                                                <option value="@item.COUNTRY_NAME">@item.COUNTRY_NAME</option>
                                                }
                                        </InputSelect>
                                        <img src="images/fileicon.png" alt="" style="width:27px;height:24px" data-toggle="modal" data-target=".bd-example-modal-lg-country" />
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-5"><label>PORT OF LOADING:</label></div>
                                    <div class="col-md-7"><InputText @bind-Value="@purchaseOrderModel.PORT_OF_LOADING" maxlength="100"></InputText></div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-5"><label>PORT OF DISCHARGE:</label></div>
                                    <div class="col-md-7"><InputText @bind-Value="@purchaseOrderModel.PORT_OF_DISCHARGE" maxlength="100"></InputText></div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-5"><label>SHIPPING MARK:</label></div>
                                    <div class="col-md-7">
                                        <InputSelect @bind-Value="@purchaseOrderModel.SHIPPING_MARK" style="width:203px;height:28px">
                                            <option value=""></option>
                                            <option value="Follow the Bank Instruction(LC Doc..)">Follow the Bank Instruction(LC Doc..)</option>
                                            <option value="Follow the Agent Instruction">Follow the Agent Instruction</option>
                                            <option value="TBA(To Be Announced)">TBA(To Be Announced)</option>
                                        </InputSelect>

                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-5"><label>BIN:</label></div>
                                    <div class="col-md-7"><InputText @bind-Value="@purchaseOrderModel.BIN" maxlength="100"></InputText></div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-5"><label>TIN:</label></div>
                                    <div class="col-md-7"><InputText @bind-Value="@purchaseOrderModel.TIN" maxlength="100"></InputText></div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-5"><label>EMAIL:</label></div>
                                    <div class="col-md-7"><InputText @bind-Value="@purchaseOrderModel.EMAIL" maxlength="100"></InputText></div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-5"><label>MOBILE:</label></div>
                                    <div class="col-md-7"><InputText @bind-Value="@purchaseOrderModel.MOBILE" maxlength="100"></InputText></div>
                                </div>
                            }
                            @*<div class="row mt-1">
                                    <div class="col-md-5"><label>Packaging:</label></div>
                                    <div class="col-md-7"><InputTextArea @bind-Value="@purchaseOrderModel.PACKAGING" maxlength="100" style="width:300px"></InputTextArea></div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-5"><label>Identification No.:</label></div>
                                    <div class="col-md-7"><InputTextArea @bind-Value="@purchaseOrderModel.IDENTIFICATION_NUMBER" maxlength="100" style="width:300px"></InputTextArea></div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-5"><label>Label:</label></div>
                                    <div class="col-md-7"><InputTextArea @bind-Value="@purchaseOrderModel.LABEL" maxlength="100" style="width:300px"></InputTextArea></div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-5"><label>Shelf Life:</label></div>
                                    <div class="col-md-7"><InputTextArea @bind-Value="@purchaseOrderModel.SHELF_LIFE" maxlength="100" style="width:300px"></InputTextArea></div>
                                </div>*@
                        </div>
                    </div>
                </fieldset>
                <br />
                <h5>PURCHASE ITEMS</h5>
                <div class="analytic_details_contain_two">
                    <table width="100%">
                        <thead style="background-color:steelblue;color:white;height:20px">
                            <tr>
                                <td scope="col" width="60px"></td>
                                <td scope="col">ITEM & DESCRIPTION</td>
                                <td scope="col">PACK SIZE</td>
                                <td scope="col">UOM</td>
                                <td scope="col">QTY</td>
                                <td scope="col">UNIT PRICE</td>
                                <td scope="col">TOTAL Amount</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var tableitem in requestItemList)
                            {
                                total = Convert.ToDouble(tableitem.Quantity) * Convert.ToDouble(tableitem.Rate);
                                //finaltotal += total;
                                <tr>
                                    <td scope="col" width="60px"><a href="#"><span class="oi oi-pencil"></span></a></td>
                                    <td scope="col">@tableitem.ITEM_NAME</td>
                                    <td scope="col">@tableitem.PACK_SIZE</td>
                                    <td scope="col">@tableitem.UOM</td>
                                    <td scope="col">@tableitem.Quantity</td>
                                    <td scope="col">@tableitem.Rate</td>
                                    <td scope="col">@total</td>
                                </tr>
                            }
                            @if (IL_OPTION == 1)
                            {
                                <tr>
                                    <td colspan="6" style="text-align:right">AIT</td>
                                    <td><input type="text" @oninput="AIT_Clicked" /></td>
                                </tr>
                                <tr>
                                    <td colspan="6" style="text-align:right">VAT</td>
                                    <td><input type="text" @oninput="VAT_Clicked" /></td>
                                </tr>
                            }

                            <tr>
                                <td colspan="6" style="text-align:right">Adj</td>
                                <td><input type="text" @oninput="ADJ_Clicked" /></td>
                            </tr>
                            <tr>
                                @if (IL_OPTION == 1)
                                {
                                    <td colspan="6" style="text-align:right;width:120px">Transport</td>
                                }
                                @if (IL_OPTION == 2)
                                {
                                    <td colspan="6" style="text-align:right;width:120px">
                                        Freight
                                        <InputSelect @bind-Value="purchaseOrderModel.CARRING_WAY_NAME">
                                            <option value="Air">Air</option>
                                            <option value="Sea">Sea</option>
                                            <option value="Land">Land</option>
                                            <option value="Local/Freight">Local/Freight</option>

                                        </InputSelect>
                                    </td>
                                }

                                <td><input type="text" @oninput="Sea_Freight_Clicked" /></td>
                            </tr>
                            <tr>
                                <td colspan="6" style="text-align:right">Grand Total</td>
                                <td style="font-weight:bold">@finaltotal</td>
                            </tr>
                            <tr>
                                <td colspan="7" style="text-align:left">In Words(BDT)  : @Inwords</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                Packaing Instruction &nbsp; <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg-packagingIns"><span class="oi oi-pencil"></span></a>
                <div style="border: 1px solid #888">
                    @foreach (var item in packagingInsList)
                    {
                        <input style="margin-top: 5px; margin-left: 5px; width: 20px " type="checkbox" @onchange="eventArgs => { PackagingCheckboxClicked(Convert.ToString(item.PACKAGING_INSTRUCTION_ID), eventArgs.Value); }" /> <label>@item.PACKAGING_INSTRUCTION</label><br />
                    }



                </div>
                <br />
                <br />
                Other Terms & Condition &nbsp; <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg-termsconditions"><span class="oi oi-pencil"></span></a>
                <div style="border: 1px solid #888">
                    @foreach (var item in termsConditionList)
                    {
                        <input style="margin-top: 5px; margin-left: 5px; width: 20px" type="checkbox" @onchange="eventArgs => { OtherTermsClicked(Convert.ToString(item.PURCHASE_TERMS_CONDITION_ID), eventArgs.Value); }" /> <label>@item.TERMS_AND_CONDITIONS</label><br />
                    }

                </div>
                @*<br />
                    <br />
                    <h5>PURCHASE ITEMS</h5>
                    <div class="analytic_details_contain_two">
                        <table class="table table-striped">
                            <thead style="background-color:steelblue;color:white;height:20px">
                                <tr>
                                    <td scope="col" width="60px"></td>
                                    <td scope="col">Item Description</td>
                                    <td scope="col">Pack Size</td>
                                    <td scope="col">UOM</td>
                                    <td scope="col">Quantity</td>
                                    <td scope="col">Rate</td>
                                    <td scope="col">Amount</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var tableitem in requestItemList)
                                {
                                    total = Convert.ToDouble(tableitem.Quantity) * Convert.ToDouble(tableitem.Rate);
                                    //finaltotal += total;
                                    <tr>
                                        <td scope="col" width="60px"><a href="#"><span class="oi oi-pencil"></span></a></td>
                                        <td scope="col">@tableitem.ITEM_NAME</td>
                                        <td scope="col">@tableitem.PACK_SIZE</td>
                                        <td scope="col">@tableitem.UOM</td>
                                        <td scope="col">@tableitem.Quantity</td>
                                        <td scope="col">@tableitem.Rate</td>
                                        <td scope="col">@total</td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="6" style="text-align:right">AIT</td>
                                    <td><input type="text" @oninput="AIT_Clicked" /></td>
                                </tr>
                                <tr>
                                    <td colspan="6" style="text-align:right">VAT</td>
                                    <td><input type="text" @oninput="VAT_Clicked" /></td>
                                </tr>
                                <tr>
                                    <td colspan="6" style="text-align:right">Adj</td>
                                    <td><input type="text" @oninput="ADJ_Clicked" /></td>
                                </tr>
                                <tr>
                                    <td colspan="6" style="text-align:right">Sea-Freight</td>
                                    <td><input type="text" @oninput="Sea_Freight_Clicked" /></td>
                                </tr>
                                <tr>
                                    <td colspan="6" style="text-align:right">Grand Total</td>
                                    <td style="font-weight:bold">@finaltotal</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>*@
                @*<br />
                    <label>Vendor Type</label>&nbsp;&nbsp;
                    <input type="checkbox" checked />&nbsp;&nbsp; <label>LISTED</label>&nbsp;&nbsp;<input type="checkbox" /> &nbsp;&nbsp;<label>UNLISTED</label>
                    <br />
                    <div class="analytic_details_contain_two">
                        <table class="table table-striped">
                            <thead style="background-color:lightsteelblue;color:white;height:20px">
                                <tr>
                                    <td></td>
                                    <td scope="col" width="90px">VendorCode</td>
                                    <td scope="col">Company Name</td>
                                    <td scope="col">Contact No.</td>
                                    <td scope="col">Email</td>
                                    <td scope="col">Vendor Type</td>


                                </tr>
                            </thead>
                            <tbody>
                                @if (vendorList != null)
                                {
                                    foreach (var vendor in vendorList)
                                    {
                                        <tr>
                                            <td scope="col"><input type="checkbox" @onchange="eventArgs => { CheckboxClicked(Convert.ToString(vendor.VENDOR_ID), eventArgs.Value); }" /></td>
                                            <td scope="col" width="90px">@vendor.VENDOR_CODE</td>
                                            <td scope="col">@vendor.VENDOR_NAME</td>
                                            <td scope="col">@vendor.CONTACT_NO</td>
                                            <td scope="col">@vendor.EMAIL</td>
                                            <td scope="col">@vendor.VENDOR_TYPE_STATUS</td>


                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>*@


                <!--<fieldset class="border p-4">
                <legend class="w-auto">Shipment Information</legend>
                <div class="row">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2" style="text-align:center">ETD with QTY</th>
                                <th colspan="2" style="text-align:center">ETA to CTG</th>
                                <th colspan="2" style="text-align:center">EA at TL-WH</th>
                                <th colspan="2" style="text-align:center"></th>
                            </tr>
                            <tr>
                                <th>1st Date &nbsp;&nbsp;<input type="checkbox" id="myCheckBox" @onchange="eventArgs => { ETD_1st_Date_CheckboxClicked(eventArgs.Value); }" /></th>
                                <th><input type="date" @bind-value="@ETD_1st_Date" disabled="@ETD_1st_Date_IsDisabled" /></th>

                                <th>1st Date &nbsp;&nbsp;<input type="checkbox" id="myCheckBox" @onchange="eventArgs => { ETA_1st_Date_CheckboxClicked(eventArgs.Value); }" /></th>
                                <th><input type="date" @bind-value="@ETA_1st_Date" id="dt_ETD_1st" disabled="@ETA_1st_Date_IsDisabled" /></th>

                                <th>1st Date &nbsp;&nbsp;<input type="checkbox" id="myCheckBox" @onchange="eventArgs => { EA_1st_Date_CheckboxClicked(eventArgs.Value); }" /></th>
                                <th><input type="date" @bind-value="@EA_1st_Date" id="dt_ETD_1st" disabled="@EA_1st_Date_IsDisabled" /></th>

                                <th>Received Date &nbsp;&nbsp;<input type="checkbox" id="myCheckBox" @onchange="eventArgs => { Received_Date_CheckboxClicked(eventArgs.Value); }" /></th>
                                <th><input type="date" @bind-value="@Received_Date" id="dt_ETD_1st" disabled="@Received_Date_IsDisabled" /></th>
                            </tr>
                            <tr>
                                <th>2nd date &nbsp;&nbsp;<input type="checkbox" id="myCheckBox" @onchange="eventArgs => { ETD_2nd_Date_CheckboxClicked(eventArgs.Value); }" /></th>
                                <th><input type="date" @bind-value="@ETD_2nd_Date" id="dt_ETD_1st" disabled="@ETD_2nd_Date_IsDisabled" /></th>

                                <th>2nd date &nbsp;&nbsp;<input type="checkbox" id="myCheckBox" @onchange="eventArgs => { ETA_2nd_Date_CheckboxClicked(eventArgs.Value); }" /></th>
                                <th><input type="date" @bind-value="@ETA_2nd_Date" id="dt_ETD_1st" disabled="@ETA_2nd_Date_IsDisabled" /></th>

                                <th>2nd date &nbsp;&nbsp;<input type="checkbox" id="myCheckBox" @onchange="eventArgs => { EA_2nd_Date_CheckboxClicked(eventArgs.Value); }" /></th>
                                <th><input type="date" @bind-value="@EA_2nd_Date" id="dt_ETD_1st" disabled="@EA_2nd_Date_IsDisabled" /></th>
                                <th>Shipment Status</th>
                                <th>
                                    <InputSelect @bind-Value="@purchaseOrderModel.SHIPMENT_STATUS" style="width:175px;height:28px">
                                        <option value=""></option>
                                        <option value="Order">Order</option>
                                        <option value="OnProcess">OnProcess</option>
                                        <option value="Success">Success</option>
                                        <option value="Cancel">Cancel</option>
                                    </InputSelect>
                                </th>
                            </tr>
                            <tr>
                                <th>3rd Date &nbsp;&nbsp;<input type="checkbox" id="myCheckBox" @onchange="eventArgs => { ETD_3rd_Date_CheckboxClicked(eventArgs.Value); }" /></th>
                                <th><input type="date" @bind-value="@ETD_3rd_Date" id="dt_ETD_1st" disabled="@ETD_3rd_Date_IsDisabled" /></th>

                                <th>3rd Date &nbsp;&nbsp;<input type="checkbox" id="myCheckBox" @onchange="eventArgs => { ETA_3rd_Date_CheckboxClicked(eventArgs.Value); }" /></th>
                                <th><input type="date" @bind-value="@ETA_3rd_Date" id="dt_ETD_1st" disabled="@ETA_3rd_Date_IsDisabled" /></th>

                                <th>3rd Date &nbsp;&nbsp;<input type="checkbox" id="myCheckBox" @onchange="eventArgs => { EA_3rd_Date_CheckboxClicked(eventArgs.Value); }" /></th>
                                <th><input type="date" @bind-value="@EA_3rd_Date" id="dt_ETD_1st" disabled="@EA_3rd_Date_IsDisabled" /></th>

                                <th colspan="2"></th>
                            </tr>
                            <tr>
                                <th>4th Date &nbsp;&nbsp;<input type="checkbox" id="myCheckBox" @onchange="eventArgs => { ETD_4th_Date_CheckboxClicked(eventArgs.Value); }" /></th>
                                <th><input type="date" @bind-value="@ETD_4th_Date" id="dt_ETD_1st" disabled="@ETD_4th_Date_IsDisabled" /></th>

                                <th>4th Date &nbsp;&nbsp;<input type="checkbox" id="myCheckBox" @onchange="eventArgs => { ETA_4th_Date_CheckboxClicked(eventArgs.Value); }" /></th>
                                <th><input type="date" @bind-value="@ETA_4th_Date" id="dt_ETD_1st" disabled="@ETA_4th_Date_IsDisabled" /></th>

                                <th>4th Date &nbsp;&nbsp;<input type="checkbox" id="myCheckBox" @onchange="eventArgs => { EA_4th_Date_CheckboxClicked(eventArgs.Value); }" /></th>
                                <th><input type="date" @bind-value="@EA_4th_Date" id="dt_ETD_1st" disabled="@EA_4th_Date_IsDisabled" /></th>
                                <th colspan="2"></th>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>-->
                @*<div class="col-lg-4">

                        <div class="row">
                            <div class="col-md-5"><label>PO Date:</label></div>
                            <div class="col-md-7"><input style="width:190px" type="date" @bind-value="@po_date" /></div>
                        </div>


                    </div>*@
                <!--</div>
                </fieldset>-->
                @*<div class="col-4 d-flex align-items-end" style="margin-top:100px">
                        <button class="btn btn-info" style="border:none;border-radius:10px">GENERATE PO</button>&nbsp;&nbsp;&nbsp;
                        <button @onclick="CreatePurchaseOrder" class="btn btn-info" style="border:none;border-radius:10px">PRINT PO</button>
                    </div>*@
                <div class="col-4 d-flex " style="margin:20px 0 20px">
                    @*<button class="btn btn-info" style="border:none;border-radius:10px;width:150px;margin-left:275px">Save</button>&nbsp;&nbsp;&nbsp;*@
                    <button class="btn btn-info" style="border:none">SAVE</button>&nbsp;&nbsp;&nbsp;
                    @*<button @onclick="CreatePurchaseOrder" class="btn btn-info" style="border:none;border-radius:10px">PRINT PO</button>*@
                </div>
            </EditForm>
        </div>

    </div>

</div>

@*-------------Shipping Address Modal-----------*@
<div class="modal fade bd-example-modal-lg-shipping" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <EditForm Model="@shippingAddressModel">
                <div class="modal-header">
                    <h4 class="p-2"><img src="images/fountain-pen.png" alt="" width="50" height="50" class="mr-3"><span class="text-uppercase">NEW SHIPPING ADDRESS</span>  </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="dashboard-details">

                        <div class="newRequsitionForm-content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="row mt-1">
                                            <div class="col-md-6"><label>Shipping Address:</label></div>
                                            <div class="col-md-6"><InputText @bind-Value="@shippingAddressModel.SHIPPING_ADDRESS" style="width:400px"></InputText></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="submit" style="width:100px;margin-right:40px" class="btn btn-info" data-dismiss="modal" @onclick=@(() => SaveShippingAddress())>Save</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@*-------------Delivery Mode Modal-----------*@
<div class="modal fade bd-example-modal-lg-deliverymode" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <EditForm Model="@deliveryModeModel">
                <div class="modal-header">
                    <h4 class="p-2"><img src="images/fountain-pen.png" alt="" width="50" height="50" class="mr-3"><span class="text-uppercase">NEW DELIVERY MODE</span>  </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="dashboard-details">

                        <div class="newRequsitionForm-content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="row mt-1">
                                            <div class="col-md-6"><label>Delivery Mode:</label></div>
                                            <div class="col-md-6"><InputText @bind-Value="@deliveryModeModel.DELIVERY_MODE" style="width:400px"></InputText></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="submit" style="width:100px;margin-right:40px" class="btn btn-info" data-dismiss="modal" @onclick=@(() => SaveDeliveryMode())>Save</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
@*-------------Payment Term Modal-----------*@
<div class="modal fade bd-example-modal-lg-paymentTerm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <EditForm Model="@paymentTerm">
                <div class="modal-header">
                    <h4 class="p-2"><img src="images/fountain-pen.png" alt="" width="50" height="50" class="mr-3"><span class="text-uppercase">NEW PAYMENT TERM</span>  </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="dashboard-details">

                        <div class="newRequsitionForm-content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="row mt-1">
                                            <div class="col-md-6"><label>Payment Term:</label></div>
                                            <div class="col-md-6"><InputText @bind-Value="@paymentTerm.PAYMENT_TERM" style="width:400px"></InputText></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="submit" style="width:100px;margin-right:40px" class="btn btn-info" data-dismiss="modal" @onclick=@(() => SavePaymentTerm())>Save</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
@*-------------Country of Origin Modal-----------*@
<div class="modal fade bd-example-modal-lg-country" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <EditForm Model="@country">
                <div class="modal-header">
                    <h4 class="p-2"><img src="images/fountain-pen.png" alt="" width="50" height="50" class="mr-3"><span class="text-uppercase">NEW COUNTRY</span>  </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="dashboard-details">

                        <div class="newRequsitionForm-content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="row mt-1">
                                            <div class="col-md-6"><label>COUNTRY:</label></div>
                                            <div class="col-md-6"><InputText @bind-Value="@country.COUNTRY_NAME" style="width:400px"></InputText></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="submit" style="width:100px;margin-right:40px" class="btn btn-info" data-dismiss="modal" @onclick=@(() => SaveCountry())>Save</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
@*-------------Packaging Instruction Modal-----------*@
<div class="modal fade bd-example-modal-lg-packagingIns" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <EditForm Model="@packagingIns">
                <div class="modal-header">
                    <h4 class="p-2"><img src="images/fountain-pen.png" alt="" width="50" height="50" class="mr-3"><span class="text-uppercase">NEW PACKAGING INSTRUCTION</span>  </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="dashboard-details">

                        <div class="newRequsitionForm-content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="row mt-1">
                                            <div class="col-md-6"><label>INSTRUCTION:</label></div>
                                            <div class="col-md-6"><InputText @bind-Value="@packagingIns.PACKAGING_INSTRUCTION" style="width:400px"></InputText></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="submit" style="width:100px;margin-right:40px" class="btn btn-info" data-dismiss="modal" @onclick=@(() => SavePackagingInstruction())>Save</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
@*-------------Terms & Conditions Modal-----------*@
<div class="modal fade bd-example-modal-lg-termsconditions" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <EditForm Model="@termsconditions">
                <div class="modal-header">
                    <h4 class="p-2"><img src="images/fountain-pen.png" alt="" width="50" height="50" class="mr-3"><span class="text-uppercase">NEW TERMS & CONDITIONS</span>  </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="dashboard-details">

                        <div class="newRequsitionForm-content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="row mt-1">
                                            <div class="col-md-6"><label>INSTRUCTION:</label></div>
                                            <div class="col-md-6"><InputTextArea @bind-Value="@termsconditions.TERMS_AND_CONDITIONS" style="width:400px" cols="30" rows="3"></InputTextArea></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="submit" style="width:100px;margin-right:40px" class="btn btn-info" data-dismiss="modal" @onclick=@(() => SaveTermsConditions())>Save</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string po_number { get; set; }
    //private ReportService _ReportService = new ReportService();
    //private ReportService _ReportService = new ReportService();
    DataSet DS_OUTPUT_DATA = new DataSet();
    List<ItemEntity> productList = new List<ItemEntity>();
    PurchaseOrderEntity purchaseOrder = new PurchaseOrderEntity();
    Acc_TransectionModel transectionModel = new Acc_TransectionModel();
    List<Acc_LedgerModel> ledgerModelList = new List<Acc_LedgerModel>();
    Acc_LedgerModel ledgerEntry1 = new Acc_LedgerModel();
    Acc_LedgerModel ledgerEntry2 = new Acc_LedgerModel();

    PurchaseOrderModel purchaseOrderModel = new PurchaseOrderModel();
    List<VendorEntity> vendorList = new List<VendorEntity>();
    List<VendorEntity> selectedVendorList = new List<VendorEntity>();

    PRE pp = new PRE();
    List<OrderItemEntity> requestItemList = new List<OrderItemEntity>();
    //DateTime po_date = System.DateTime.Now;
    string po_date;
    //DateTime quotation_ref_date = System.DateTime.Now;
    string quotation_ref_date = "";
    DateTime ETD_1st_Date = System.DateTime.Now;
    DateTime ETD_2nd_Date = System.DateTime.Now;
    DateTime ETD_3rd_Date = System.DateTime.Now;
    DateTime ETD_4th_Date = System.DateTime.Now;

    DateTime ETA_1st_Date = System.DateTime.Now;
    DateTime ETA_2nd_Date = System.DateTime.Now;
    DateTime ETA_3rd_Date = System.DateTime.Now;
    DateTime ETA_4th_Date = System.DateTime.Now;

    DateTime EA_1st_Date = System.DateTime.Now;
    DateTime EA_2nd_Date = System.DateTime.Now;
    DateTime EA_3rd_Date = System.DateTime.Now;
    DateTime EA_4th_Date = System.DateTime.Now;

    DateTime Received_Date = System.DateTime.Now;

    PurchaseOrderDetailsEntity details = new PurchaseOrderDetailsEntity();
    List<PurchaseOrderDetailsEntity> purchaseDetailsList = new List<PurchaseOrderDetailsEntity>();
    protected bool ETD_1st_Date_IsDisabled { get; set; }
    protected bool ETD_2nd_Date_IsDisabled { get; set; }
    protected bool ETD_3rd_Date_IsDisabled { get; set; }
    protected bool ETD_4th_Date_IsDisabled { get; set; }

    protected bool ETA_1st_Date_IsDisabled { get; set; }
    protected bool ETA_2nd_Date_IsDisabled { get; set; }
    protected bool ETA_3rd_Date_IsDisabled { get; set; }
    protected bool ETA_4th_Date_IsDisabled { get; set; }

    protected bool EA_1st_Date_IsDisabled { get; set; }
    protected bool EA_2nd_Date_IsDisabled { get; set; }
    protected bool EA_3rd_Date_IsDisabled { get; set; }
    protected bool EA_4th_Date_IsDisabled { get; set; }
    protected bool Received_Date_IsDisabled { get; set; }
    string billno = "";
    double total = 0;
    double finaltotal = 0;
    double ITEMtotal = 0;
    double AIT;
    double VAT;
    double ADJ;
    double SeaFreight;
    double GRAND_TOTAL = 0;
    string packaging_instruction_No;
    string terms_And_Conditions_No;
    List<PDeliveryTimeModel> pdeliverytimelist = new List<PDeliveryTimeModel>();
    List<ShippingAddressModel> shippingAddressList = new List<ShippingAddressModel>();
    ShippingAddressModel shippingAddressModel = new ShippingAddressModel();
    DeliveryModeModel deliveryModeModel = new DeliveryModeModel();
    List<DeliveryModeModel> deliveryModeList = new List<DeliveryModeModel>();
    PaymentTermModel paymentTerm = new PaymentTermModel();
    List<PaymentTermModel> paymentTermList = new List<PaymentTermModel>();
    List<PaymentTermModel> pTermList = new List<PaymentTermModel>();
    List<CountryModel> countryList = new List<CountryModel>();
    CountryModel country = new CountryModel();
    List<PackagingInstructionModel> packagingInsList = new List<PackagingInstructionModel>();
    PackagingInstructionModel packagingIns = new PackagingInstructionModel();
    PurchaseTermsConditionsModel termsconditions = new PurchaseTermsConditionsModel();
    List<PurchaseTermsConditionsModel> termsConditionList = new List<PurchaseTermsConditionsModel>();
    PurchaseRequisitionViewEntity reqView = new PurchaseRequisitionViewEntity();
    List<CurrencyModel> currencyModel = new List<CurrencyModel>();


    string deliveryTime;
    string comodity;
    string _localcolor;
    string _intcolor;
    int IL_OPTION;
    string Inwords;

    //protected bool IsDisabled { get; set; }




    //[Parameter]
    //public string Format { get; set; } = "dd/mm/yyyy";




    protected override async Task OnInitializedAsync()
    {
        //date_disabled();
        //////IsDisabled = true;
        //requestItemList = await Http.GetJsonAsync<List<OrderItemEntity>>(Utility.BaseUrl + "api/Purchase/GetRequisitionItemDetailsByReqNo/" + requisition_no);
        //reqView = await Http.GetJsonAsync<PurchaseRequisitionViewEntity>(Utility.BaseUrl + "api/Purchase/GetPurchaseReqInfo/" + requisition_no);
        ////Console.Write(requestItemList.Sum(x => Convert.ToDouble(x.Quantity)*Convert.ToDouble(x.Rate)));
        //vendorList = await Http.GetJsonAsync<List<VendorEntity>>(Utility.BaseUrl + "api/Vendor");
        //pdeliverytimelist = await Http.GetJsonAsync<List<PDeliveryTimeModel>>(Utility.BaseUrl + "api/Setup/GetDeliveryTime");
        //shippingAddressList = await Http.GetJsonAsync<List<ShippingAddressModel>>(Utility.BaseUrl + "api/Setup/GetShippingAddress");
        //deliveryModeList = await Http.GetJsonAsync<List<DeliveryModeModel>>(Utility.BaseUrl + "api/Setup/GetDeliveryMode");
        //pTermList = await Http.GetJsonAsync<List<PaymentTermModel>>(Utility.BaseUrl + "api/Setup/GetPaymentTerm");
        //countryList = await Http.GetJsonAsync<List<CountryModel>>(Utility.BaseUrl + "api/Setup/GetCountry");
        //packagingInsList = await Http.GetJsonAsync<List<PackagingInstructionModel>>(Utility.BaseUrl + "api/Setup/GetPackagingInstruction");
        //termsConditionList = await Http.GetJsonAsync<List<PurchaseTermsConditionsModel>>(Utility.BaseUrl + "api/Setup/GetTermsConditions");
        //currencyModel = await Http.GetJsonAsync<List<CurrencyModel>>(Utility.BaseUrl + "api/Setup/GetCurrency");
        //GetTotal();
        //_localcolor = "gray";
        //IL_OPTION = 1;
        //await GetPaymentTerm();
        //selectedVendorList = vendorList.FindAll(x => x.VENDOR_TYPE_STATUS == "Local");
        //purchaseOrderModel.REQUISITION_NO = requisition_no;
        date_disabled();
        purchaseOrderModel = await Http.GetJsonAsync<PurchaseOrderModel>(Utility.BaseUrl + "api/Purchase/GetPurchaseOrderByPO/" + po_number);
        purchaseDetailsList = await Http.GetJsonAsync<List<PurchaseOrderDetailsEntity>>(Utility.BaseUrl + "api/Purchase/GetPurchaseOrderDetailsByPO_NO/" + po_number);
        vendorList = await Http.GetJsonAsync<List<VendorEntity>>(Utility.BaseUrl + "api/Vendor");
        GetData();
        GetTotal();
    }
    private void GetData()
    {

        //purchaseOrderModel.PO_NUMBER_LONG_CODE = purchaseorderview.PO_NUMBER_LONG_CODE;
        po_date = Convert.ToString(purchaseOrderModel.PO_DATE);
        quotation_ref_date = purchaseOrderModel.QUOTATION_REFERANCE_DATE;
        if (purchaseOrderModel.ETD_1st_Date != null)
        {
            ETD_1st_Date_IsDisabled = false;
            //ETD_1st_Date_CheckStatus = true;
            ETD_1st_Date = Convert.ToDateTime(purchaseOrderModel.ETD_1st_Date);
        }
        if (purchaseOrderModel.ETD_2nd_Date != null)
        {
            ETD_2nd_Date_IsDisabled = false;
            //ETD_2nd_Date_CheckStatus = true;
            ETD_2nd_Date = Convert.ToDateTime(purchaseOrderModel.ETD_2nd_Date);
        }
        if (purchaseOrderModel.ETD_3rd_Date != null)
        {
            ETD_3rd_Date_IsDisabled = false;
            //ETD_3rd_Date_CheckStatus = true;
            ETD_3rd_Date = Convert.ToDateTime(purchaseOrderModel.ETD_3rd_Date);
        }
        if (purchaseOrderModel.ETD_4th_Date != null)
        {
            ETD_4th_Date_IsDisabled = false;
            //ETD_4th_Date_CheckStatus = true;
            ETD_4th_Date = Convert.ToDateTime(purchaseOrderModel.ETD_4th_Date);
        }
        //--------------------------- ETD Date End
        if (purchaseOrderModel.ETA_1st_Date != null)
        {
            ETA_1st_Date_IsDisabled = false;
            //ETA_1st_Date_CheckStatus = true;
            ETA_1st_Date = Convert.ToDateTime(purchaseOrderModel.ETA_1st_Date);
        }
        if (purchaseOrderModel.ETA_2nd_Date != null)
        {
            ETA_2nd_Date_IsDisabled = false;
            //ETA_2nd_Date_CheckStatus = true;
            ETA_2nd_Date = Convert.ToDateTime(purchaseOrderModel.ETA_2nd_Date);
        }
        if (purchaseOrderModel.ETA_3rd_Date != null)
        {
            ETA_3rd_Date_IsDisabled = false;
            //ETA_3rd_Date_CheckStatus = true;
            ETA_3rd_Date = Convert.ToDateTime(purchaseOrderModel.ETA_3rd_Date);
        }
        if (purchaseOrderModel.ETA_4th_Date != null)
        {
            ETA_4th_Date_IsDisabled = false;
            //ETA_4th_Date_CheckStatus = true;
            ETA_4th_Date = Convert.ToDateTime(purchaseOrderModel.ETA_4th_Date);
        }
        //-----------ETA Date End

        if (purchaseOrderModel.EA_WH_1st_Date != null)
        {
            EA_1st_Date_IsDisabled = false;
            //EA_1st_Date_CheckStatus = true;
            EA_1st_Date = Convert.ToDateTime(purchaseOrderModel.EA_WH_1st_Date);
        }
        if (purchaseOrderModel.EA_WH_2nd_Date != null)
        {
            EA_2nd_Date_IsDisabled = false;
            //EA_2nd_Date_CheckStatus = true;
            EA_2nd_Date = Convert.ToDateTime(purchaseOrderModel.EA_WH_2nd_Date);
        }
        if (purchaseOrderModel.EA_WH_3rd_Date != null)
        {
            EA_3rd_Date_IsDisabled = false;
            //EA_3rd_Date_CheckStatus = true;
            EA_3rd_Date = Convert.ToDateTime(purchaseOrderModel.EA_WH_3rd_Date);
        }
        if (purchaseOrderModel.EA_WH_4th_Date != null)
        {
            EA_4th_Date_IsDisabled = false;
            //EA_4th_Date_CheckStatus = true;
            EA_4th_Date = Convert.ToDateTime(purchaseOrderModel.EA_WH_4th_Date);
        }
        //------EA Date End

        if (purchaseOrderModel.RECEIVED_DATE != null)
        {
            Received_Date_IsDisabled = false;
            //Received_Date_CheckStatus = true;
            Received_Date = Convert.ToDateTime(purchaseOrderModel.RECEIVED_DATE);
        }

    }
    private async Task GetPaymentTerm()
    {

        //paymentTermList = pTermList;
        paymentTermList = await Http.GetJsonAsync<List<PaymentTermModel>>(Utility.BaseUrl + "api/Setup/GetPaymentTerm");
        if (IL_OPTION == 1)
        {
            //paymentTermList.RemoveAt(1);
            paymentTermList.RemoveAll(s => s.PAYMENT_TERM_ID == 2);
            StateHasChanged();
            //paymentTermList = pTermList.FindAll(x => x.PAYMENT_TERM != "TT In Advance");
        }
        else if (IL_OPTION == 2)
        {
            //paymentTermList.RemoveAt(0);
            paymentTermList.RemoveAll(s => s.PAYMENT_TERM_ID == 1);
            StateHasChanged();
            //paymentTermList = pTermList.FindAll(x => x.PAYMENT_TERM != "In Advance");
        }
    }
    protected void date_disabled()
    {
        ETD_1st_Date_IsDisabled = true;
        ETD_2nd_Date_IsDisabled = true;
        ETD_3rd_Date_IsDisabled = true;
        ETD_4th_Date_IsDisabled = true;

        ETA_1st_Date_IsDisabled = true;
        ETA_2nd_Date_IsDisabled = true;
        ETA_3rd_Date_IsDisabled = true;
        ETA_4th_Date_IsDisabled = true;

        EA_1st_Date_IsDisabled = true;
        EA_2nd_Date_IsDisabled = true;
        EA_3rd_Date_IsDisabled = true;
        EA_4th_Date_IsDisabled = true;
        Received_Date_IsDisabled = true;
    }
    async void ETD_1st_Date_CheckboxClicked(object checkedValue)
    {
        if ((bool)checkedValue)
        { ETD_1st_Date_IsDisabled = false; }
        else
        { ETD_1st_Date_IsDisabled = true; }
    }
    async void ETD_2nd_Date_CheckboxClicked(object checkedValue)
    {
        if ((bool)checkedValue)
        { ETD_2nd_Date_IsDisabled = false; }
        else
        { ETD_2nd_Date_IsDisabled = true; }
    }
    async void ETD_3rd_Date_CheckboxClicked(object checkedValue)
    {
        if ((bool)checkedValue)
        { ETD_3rd_Date_IsDisabled = false; }
        else
        { ETD_3rd_Date_IsDisabled = true; }
    }
    async void ETD_4th_Date_CheckboxClicked(object checkedValue)
    {
        if ((bool)checkedValue)
        { ETD_4th_Date_IsDisabled = false; }
        else
        { ETD_4th_Date_IsDisabled = true; }
    }
    async void ETA_1st_Date_CheckboxClicked(object checkedValue)
    {
        if ((bool)checkedValue)
        { ETA_1st_Date_IsDisabled = false; }
        else
        { ETA_1st_Date_IsDisabled = true; }
    }
    async void ETA_2nd_Date_CheckboxClicked(object checkedValue)
    {
        if ((bool)checkedValue)
        { ETA_2nd_Date_IsDisabled = false; }
        else
        { ETA_2nd_Date_IsDisabled = true; }
    }
    async void ETA_3rd_Date_CheckboxClicked(object checkedValue)
    {
        if ((bool)checkedValue)
        { ETA_3rd_Date_IsDisabled = false; }
        else
        { ETA_3rd_Date_IsDisabled = true; }
    }
    async void ETA_4th_Date_CheckboxClicked(object checkedValue)
    {
        if ((bool)checkedValue)
        { ETA_4th_Date_IsDisabled = false; }
        else
        { ETA_4th_Date_IsDisabled = true; }
    }
    async void EA_1st_Date_CheckboxClicked(object checkedValue)
    {
        if ((bool)checkedValue)
        { EA_1st_Date_IsDisabled = false; }
        else
        { EA_1st_Date_IsDisabled = true; }
    }
    async void EA_2nd_Date_CheckboxClicked(object checkedValue)
    {
        if ((bool)checkedValue)
        { EA_2nd_Date_IsDisabled = false; }
        else
        { EA_2nd_Date_IsDisabled = true; }
    }
    async void EA_3rd_Date_CheckboxClicked(object checkedValue)
    {
        if ((bool)checkedValue)
        { EA_3rd_Date_IsDisabled = false; }
        else
        { EA_3rd_Date_IsDisabled = true; }
    }
    async void EA_4th_Date_CheckboxClicked(object checkedValue)
    {
        if ((bool)checkedValue)
        { EA_4th_Date_IsDisabled = false; }
        else
        { EA_4th_Date_IsDisabled = true; }
    }
    async void Received_Date_CheckboxClicked(object checkedValue)
    {
        if ((bool)checkedValue)
        { Received_Date_IsDisabled = false; }
        else
        { Received_Date_IsDisabled = true; }
    }

    private void AIT_Clicked(ChangeEventArgs changeEventArgs)
    {
        //double sum= requestItemList.Sum(x => Convert.ToDouble(x.Quantity) * Convert.ToDouble(x.Rate));
        //if (changeEventArgs.Value.ToString() != "") { finaltotal = finaltotal + Convert.ToDouble(changeEventArgs.Value.ToString()); }
        //else { finaltotal = finaltotal + 0; }

        if (changeEventArgs.Value.ToString() != "") { AIT = Convert.ToDouble(changeEventArgs.Value.ToString()); }
        else { AIT = 0; }
        //AIT = Convert.ToDouble(changeEventArgs.Value.ToString());
        GetTotal();
    }
    private void VAT_Clicked(ChangeEventArgs changeEventArgs)
    {
        //double sum = requestItemList.Sum(x => Convert.ToDouble(x.Quantity) * Convert.ToDouble(x.Rate));
        //finaltotal = finaltotal + Convert.ToDouble(changeEventArgs.Value.ToString());
        //VAT= Convert.ToDouble(changeEventArgs.Value.ToString());
        if (changeEventArgs.Value.ToString() != "") { VAT = Convert.ToDouble(changeEventArgs.Value.ToString()); }
        else { VAT = 0; }
        GetTotal();
    }
    private void ADJ_Clicked(ChangeEventArgs changeEventArgs)
    {
        //double sum = requestItemList.Sum(x => Convert.ToDouble(x.Quantity) * Convert.ToDouble(x.Rate));
        //finaltotal = finaltotal + Convert.ToDouble(changeEventArgs.Value.ToString());
        if (changeEventArgs.Value.ToString() != "") { ADJ = Convert.ToDouble(changeEventArgs.Value.ToString()); }
        else { ADJ = 0; }
        GetTotal();
        //ADJ = Convert.ToDouble(changeEventArgs.Value.ToString());
    }
    private void Sea_Freight_Clicked(ChangeEventArgs changeEventArgs)
    {
        if (changeEventArgs.Value.ToString() != "")
        {
            SeaFreight = Convert.ToDouble(changeEventArgs.Value.ToString());
        }
        else { SeaFreight = 0; }
        purchaseOrderModel.CARRING_WAY_COST = Convert.ToDecimal(SeaFreight);
        GetTotal();
    }
    private void GetTotal()
    {
        //if(AIT== 0 && VAT==0 && ADJ==0)
        //{ finaltotal = requestItemList.Sum(x => Convert.ToDouble(x.Quantity) * Convert.ToDouble(x.Rate)); }
        finaltotal = requestItemList.Sum(x => Convert.ToDouble(x.Quantity) * Convert.ToDouble(x.Rate));

        if (AIT != 0)
        { finaltotal = finaltotal + AIT; }
        if (VAT != 0)
        { finaltotal = finaltotal + VAT; }
        if (ADJ != 0)
        { finaltotal = finaltotal + ADJ; }
        if (SeaFreight != 0)
        { finaltotal = finaltotal + SeaFreight; }
        double inwordValue = Convert.ToDouble(finaltotal);
        Inwords = NumberToWords.ConvertAmount(inwordValue);
        //else { finaltotal = requestItemList.Sum(x => Convert.ToDouble(x.Quantity) * Convert.ToDouble(x.Rate)); }
        //GRAND_TOTAL = finaltotal;
    }
    public class ListtoDataTable
    {
        public DataTable ToDataTable<T>(List<T> items)
        {
            DataTable dataTable = new DataTable(typeof(T).Name);
            //Get all the properties by using reflection
            PropertyInfo[] Props = typeof(T).GetProperties(BindingFlags.Public | BindingFlags.Instance);
            foreach (PropertyInfo prop in Props)
            {
                //Setting column names as Property names
                dataTable.Columns.Add(prop.Name);
            }
            foreach (T item in items)
            {
                var values = new object[Props.Length];
                for (int i = 0; i < Props.Length; i++)
                {

                    values[i] = Props[i].GetValue(item, null);
                }
                dataTable.Rows.Add(values);
            }

            return dataTable;
        }
    }


    private async Task CreatePurchaseOrder()
    {

        pp.REQUISITION_NO = "1234";
        pp.REQUESTED_BY = "Asad";
        //var datea=await Http.PostJsonAsync<PurchaseOrderEntity>("https://localhost:44350/Report/CreateReport", purchaseOrder);
        //await _http.PostJsonAsync<UnitEntity>("api/units", unit);
        await Http.PostJsonAsync("https://localhost:44350/Report/CreateReport", purchaseOrder);
        //await Http.PostJsonAsync<PRE>(Utility.BaseUrl + "api/Purchase/GenerateReport/", pp);


        //int report_no = 1;
        //SALES_FROM_TO = "";
        //SALES_FROM_TO = DT_SALES_FROM.Text + "  to  " + DT_SALES_TO.Text;
        //string SEARCH_CONDITION = "";
        //SEARCH_CONDITION = GetSearchConditionForSales();
        //SearchReport1CustomerList(report_no, SEARCH_CONDITION);
        //CreateOutputReport(DS_OUTPUT_DATA);

        //PrintInformationOutputItem outputItem = new PrintInformationOutputItem();
        //try
        //{
        //    productList = await Http.GetJsonAsync<List<ItemEntity>>(Utility.BaseUrl + "api/Product");
        //    DataTable DS = new DataTable();
        //    ListtoDataTable lsttodt = new ListtoDataTable();
        //    DataTable dt = lsttodt.ToDataTable(productList);
        //    DataTable dt1 = new DataTable();
        //    dt1.Columns.Add(new DataColumn("1", typeof(string)));
        //    //dt1.Rows[0].ItemArray[0] = 1;
        //    DS_OUTPUT_DATA.Tables.Add(dt);
        //    DS_OUTPUT_DATA.Tables.Add(dt1);
        //    //foreach (var items in productList)
        //    //{

        //    //    DS.Columns.Add(items.ITEM_CODE);
        //    //    DS.Columns.Add(items.ITEM_NAME);
        //    //    DS.Columns.Add(Convert.ToString(items.ITEM_RATE));



        //    //    //DS_OUTPUT_DATA.Tables.Add(items.ITEM_CODE);
        //    //    //DS_OUTPUT_DATA.Tables.Add(items.ITEM_NAME);
        //    //    //DS_OUTPUT_DATA.Tables.Add(Convert.ToString(items.ITEM_RATE));
        //    //    //DS_OUTPUT_DATA.Tables.Add(Convert.ToString("1"));

        //    //}
        //    //DS_OUTPUT_DATA = DS;

        //    outputItem.dataSet = DS_OUTPUT_DATA;
        //    if (DS_OUTPUT_DATA != null && DS_OUTPUT_DATA.Tables[0].Rows.Count > 0)
        //    { _ReportService.output(OutputReportSupport.GetReportConfig(outputItem), outputItem.dataSet); }
        //    else { }
        //}
        //catch (Exception ex)
        //{ }
        //_ReportService.output(OutputReportSupport.GetReportConfig(outputItem), outputItem.dataSet);
        //webCellReport1.FileName = "Purchase_Report";
        //webCellReport1.Report.Start();
        //webCellReport1.Report.File();
        //webCellReport1.Page.Start("Purchase", "1");

        //webCellReport1.Page.End();
        //webCellReport1.Report.End();
        //MemoryStream memoryStream = new MemoryStream();
        //webCellReport1.Report.SaveAs(memoryStream);
        //contentType = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet";
        //fileName = "authors.xlsx";
        //Response.Clear();
        //Response.ContentType = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet";
        //Response.AddHeader("content-disposition", "attachment; filename=" + "ABC" + ".xlsx");
        //Response.BinaryWrite(memoryStream.ToArray());
        //memoryStream.Close();
        //Response.End();


    }
    private async void CheckboxClicked(string vendor_Id, object checkedValue)
    {
        if ((bool)checkedValue)
        {
            purchaseOrderModel.VENDOR_ID = Convert.ToInt32(vendor_Id);
        }
    }
    public async Task SavePurchaseOrder()
    {

        if (IsValidation() != true)
        {
            try
            {
                //purchaseRequisition.REQUEST_DATE = request_date;
                //purchaseRequisition.REQUIRED_DATE = require_date;
                //purchaseRequisition.REQUISITION_TOTAL = requisitionTotal;
                //purchaseRequisition.STATUS = "Open";
                //purchaseRequisition.REG_BY = "Asad";
                //po_date = "2022/05/10";
                //string iDate = "05/05/2005";
                //DateTime oDate = Convert.ToDateTime(po_date);
                purchaseOrderModel.PO_DATE = po_date; //Convert.ToDateTime(po_date, "mm/dd/yyyy"); //Convert.ToString(po_date,"");
                purchaseOrderModel.QUOTATION_REFERANCE_DATE = quotation_ref_date;
                purchaseOrderModel.REG_BY = "Asad";
                purchaseOrderModel.CONSIGNEE_ID = 1;
                if (ETD_1st_Date_IsDisabled != true)
                { purchaseOrderModel.ETD_1st_Date = Convert.ToString(ETD_1st_Date); }
                else { purchaseOrderModel.ETD_1st_Date = null; }
                if (ETD_2nd_Date_IsDisabled != true)
                { purchaseOrderModel.ETD_2nd_Date = Convert.ToString(ETD_2nd_Date); }
                else { purchaseOrderModel.ETD_2nd_Date = null; }
                if (ETD_3rd_Date_IsDisabled != true)
                { purchaseOrderModel.ETD_3rd_Date = Convert.ToString(ETD_3rd_Date); }
                else { purchaseOrderModel.ETD_3rd_Date = null; }
                if (ETD_4th_Date_IsDisabled != true)
                { purchaseOrderModel.ETD_4th_Date = Convert.ToString(ETD_4th_Date); }
                else { purchaseOrderModel.ETD_4th_Date = null; }

                if (ETA_1st_Date_IsDisabled != true)
                { purchaseOrderModel.ETA_1st_Date = Convert.ToString(ETA_1st_Date); }
                else { purchaseOrderModel.ETA_1st_Date = null; }
                if (ETA_2nd_Date_IsDisabled != true)
                { purchaseOrderModel.ETA_2nd_Date = Convert.ToString(ETA_2nd_Date); }
                else { purchaseOrderModel.ETA_2nd_Date = null; }
                if (ETA_3rd_Date_IsDisabled != true)
                { purchaseOrderModel.ETA_3rd_Date = Convert.ToString(ETA_3rd_Date); }
                else { purchaseOrderModel.ETA_3rd_Date = null; }
                if (ETA_4th_Date_IsDisabled != true)
                { purchaseOrderModel.ETA_4th_Date = Convert.ToString(ETA_4th_Date); }
                else { purchaseOrderModel.ETA_4th_Date = null; }

                if (EA_1st_Date_IsDisabled != true)
                { purchaseOrderModel.EA_WH_1st_Date = Convert.ToString(EA_1st_Date); }
                else { purchaseOrderModel.EA_WH_1st_Date = null; }
                if (EA_2nd_Date_IsDisabled != true)
                { purchaseOrderModel.EA_WH_2nd_Date = Convert.ToString(EA_2nd_Date); }
                else { purchaseOrderModel.EA_WH_2nd_Date = null; }
                if (EA_3rd_Date_IsDisabled != true)
                { purchaseOrderModel.EA_WH_3rd_Date = Convert.ToString(EA_3rd_Date); }
                else { purchaseOrderModel.EA_WH_3rd_Date = null; }
                if (EA_4th_Date_IsDisabled != true)
                { purchaseOrderModel.EA_WH_4th_Date = Convert.ToString(EA_4th_Date); }
                else { purchaseOrderModel.EA_WH_4th_Date = null; }

                if (Received_Date_IsDisabled != true)
                { purchaseOrderModel.RECEIVED_DATE = (Received_Date); }
                else { purchaseOrderModel.RECEIVED_DATE = null; }
                purchaseOrderModel.GRAND_TOTAL = finaltotal;



                purchaseOrderModel.REG_BY = "ASAD";
                purchaseOrderModel.TRUNSECTION_TYPE = "Purchase";

                string code = purchaseOrderModel.PO_NUMBER_LONG_CODE.Replace("/", "-");
                purchaseOrderModel.PO_NUMBER_LONG_CODE = code;
                purchaseOrderModel.PACKAGING_INSTRUCTION = packaging_instruction_No;
                purchaseOrderModel.OTHER_TERMS_AND_CONDITION = terms_And_Conditions_No;
                if (IL_OPTION == 1)
                {
                    purchaseOrderModel.CARRING_WAY_NAME = "Transport";
                }

                billno = await Http.GetStringAsync(Utility.BaseUrl + "api/Accounce/GetTransectionUnicCode");
                purchaseOrderModel.BILL_NO = billno;
                purchaseOrderModel.PO_NUMBER_LONG_CODE = await Http.GetStringAsync(Utility.BaseUrl + "api/Purchase/GetPONo");
                var data = await Http.PostJsonAsync<PurchaseOrderModel>(Utility.BaseUrl + "api/Purchase/AddPurchaseOrder", purchaseOrderModel);
                var id = await Http.GetJsonAsync<int>(Utility.BaseUrl + "api/Purchase/GetPurchaseOrderId/" + purchaseOrderModel.PO_NUMBER_LONG_CODE);
                foreach (var item in requestItemList)
                {
                    details = new PurchaseOrderDetailsEntity();
                    details.PO_ID = id;
                    details.PO_NUMBER_LONG_CODE = purchaseOrderModel.PO_NUMBER_LONG_CODE;
                    details.ITEM_ID = item.ITEM_ID;
                    details.QUANTITY = item.Quantity;
                    details.UNIT_PRICE = item.Rate;
                    details.PACK_SIZE = item.PACK_SIZE;
                    details.UOM = item.UOM;


                    purchaseDetailsList.Add(details);
                }
                var requisition_details = await Http.PostJsonAsync<List<PurchaseOrderDetailsEntity>>(Utility.BaseUrl + "api/Purchase/AddPurchaseOrderDetails", purchaseDetailsList);
                transectionModel.BILL_NO = billno;
                var accounceTransection = await Http.PostJsonAsync<Acc_TransectionModel>(Utility.BaseUrl + "api/Accounce/AddTransection", transectionModel);
                var transectionId = await Http.GetJsonAsync<int>(Utility.BaseUrl + "api/Accounce/GetTransectionId");



                ledgerEntry1.TRANSACTION_ID = transectionId;
                ledgerEntry1.ACCOUNT_ID = 18;
                ledgerEntry1.ENTRY_TYPE = "D";
                ledgerEntry1.AMOUNT = finaltotal;
                ledgerEntry1.EMPLOYEE_ID = 1;
                //----------
                ledgerEntry2.TRANSACTION_ID = transectionId;
                ledgerEntry2.ACCOUNT_ID = 6;
                ledgerEntry2.ENTRY_TYPE = "C";
                ledgerEntry2.AMOUNT = finaltotal;
                ledgerEntry2.EMPLOYEE_ID = 1;


                ledgerModelList.Add(ledgerEntry1);
                ledgerModelList.Add(ledgerEntry2);
                var accounceLedger = await Http.PostJsonAsync<List<Acc_LedgerModel>>(Utility.BaseUrl + "api/Accounce/AddLedger", ledgerModelList);
                toastService.ShowSuccess("Order Place Successfully!!!");
            }
            catch (Exception ex)
            {
                toastService.ShowError("Not Save ! " + ex.Message);
            }

        }
    }

    private bool IsValidation()
    {
        bool flag = false;
        if (purchaseOrderModel.PO_NUMBER_LONG_CODE == "" || purchaseOrderModel.PO_NUMBER_LONG_CODE == string.Empty || purchaseOrderModel.PO_NUMBER_LONG_CODE == null)
        {
            toastService.ShowWarning("Requisition No cannot be empty!");
            flag = true;
        }

        return flag;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("JsInteropDatepicker");

    }
    private async void DeliveryTimeClicked(ChangeEventArgs change)
    {
        if (change.Value.ToString() == "1")
        {

            deliveryTime = "1";
            purchaseOrderModel.TERMS_OF_DELIVERY = "Urgent";
        }
        else
        {
            deliveryTime = "2";
        }
        StateHasChanged();
    }
    private async void ComoditySizeClicked(ChangeEventArgs change)
    {
        if (change.Value.ToString() == "1")
        {

            comodity = "1";
            purchaseOrderModel.CONTAINER_SIZE = "LCL";
        }
        else
        {
            comodity = "2";
        }
        StateHasChanged();
    }
    private async void DeliveryModeClicked(ChangeEventArgs eventArgs)
    {
        purchaseOrder.DELIVERY_MODE = eventArgs.Value.ToString();
    }
    private async void PaymentTermClicked(ChangeEventArgs changeEvent)
    {
        purchaseOrder.PAYMENT_TERM = changeEvent.Value.ToString();
    }
    public async Task SaveShippingAddress()
    {

        if (IsValidation_Unit() != true)
        {
            try
            {
                var data = await Http.PostJsonAsync<ShippingAddressModel>(Utility.BaseUrl + "api/Setup/AddShippingAddress", shippingAddressModel);
                toastService.ShowSuccess("Insert Successfully!!!");
            }
            catch (Exception ex)
            {

            }

        }
        shippingAddressList = await Http.GetJsonAsync<List<ShippingAddressModel>>(Utility.BaseUrl + "api/Setup/GetShippingAddress");
    }
    private bool IsValidation_Unit()
    {
        bool flag = false;
        if (shippingAddressModel.SHIPPING_ADDRESS == "" || shippingAddressModel.SHIPPING_ADDRESS == string.Empty || shippingAddressModel.SHIPPING_ADDRESS == null)
        {
            toastService.ShowWarning("Shipping Address Cannot be empty!");
            flag = true;
        }

        return flag;
    }
    //------
    public async Task SaveDeliveryMode()
    {

        if (IsValidation_DeliveryMode() != true)
        {
            try
            {
                var data = await Http.PostJsonAsync<DeliveryModeModel>(Utility.BaseUrl + "api/Setup/AddDeliveryMode", deliveryModeModel);
                toastService.ShowSuccess("Insert Successfully!!!");
            }
            catch (Exception ex)
            {

            }

        }
        deliveryModeList = await Http.GetJsonAsync<List<DeliveryModeModel>>(Utility.BaseUrl + "api/Setup/GetDeliveryMode");
    }
    private bool IsValidation_DeliveryMode()
    {
        bool flag = false;
        if (deliveryModeModel.DELIVERY_MODE == "" || deliveryModeModel.DELIVERY_MODE == string.Empty || deliveryModeModel.DELIVERY_MODE == null)
        {
            toastService.ShowWarning("Delivery Mode Cannot be empty!");
            flag = true;
        }

        return flag;
    }
    //----
    public async Task SavePaymentTerm()
    {

        if (IsValidation_PaymentTerm() != true)
        {
            try
            {
                var data = await Http.PostJsonAsync<DeliveryModeModel>(Utility.BaseUrl + "api/Setup/AddPaymentTerm", paymentTerm);
                toastService.ShowSuccess("Insert Successfully!!!");
            }
            catch (Exception ex)
            {

            }

        }
        paymentTermList = await Http.GetJsonAsync<List<PaymentTermModel>>(Utility.BaseUrl + "api/Setup/GetPaymentTerm");
    }
    private bool IsValidation_PaymentTerm()
    {
        bool flag = false;
        if (paymentTerm.PAYMENT_TERM == "" || paymentTerm.PAYMENT_TERM == string.Empty || paymentTerm.PAYMENT_TERM == null)
        {
            toastService.ShowWarning("Payment Term Cannot be empty!");
            flag = true;
        }

        return flag;
    }

    private async void FCL_1_Clicked(object checkedValue)
    {
        if ((bool)checkedValue)
        {
            purchaseOrderModel.CONTAINER_SIZE = "FCL(1 X 20 Ft)";
        }
    }
    private async void FCL_2_Clicked(object checkedValue)
    {
        if ((bool)checkedValue)
        {
            purchaseOrderModel.CONTAINER_SIZE = "FCL(1 X 40 Ft)";
        }
    }
    //----
    public async Task SaveCountry()
    {

        if (IsValidation_Country() != true)
        {
            try
            {
                var data = await Http.PostJsonAsync<CountryModel>(Utility.BaseUrl + "api/Setup/AddCountry", country);
                toastService.ShowSuccess("Insert Successfully!!!");
            }
            catch (Exception ex)
            {

            }

        }
        countryList = await Http.GetJsonAsync<List<CountryModel>>(Utility.BaseUrl + "api/Setup/GetCountry");
    }
    private bool IsValidation_Country()
    {
        bool flag = false;
        if (country.COUNTRY_NAME == "" || country.COUNTRY_NAME == string.Empty || country.COUNTRY_NAME == null)
        {
            toastService.ShowWarning("Country Field Cannot be empty!");
            flag = true;
        }

        return flag;
    }
    //-

    public async Task SavePackagingInstruction()
    {

        if (IsValidation_Ins() != true)
        {
            try
            {
                var data = await Http.PostJsonAsync<PackagingInstructionModel>(Utility.BaseUrl + "api/Setup/AddPackagingInstruction", packagingIns);
                toastService.ShowSuccess("Insert Successfully!!!");
            }
            catch (Exception ex)
            {

            }

        }
        packagingInsList = await Http.GetJsonAsync<List<PackagingInstructionModel>>(Utility.BaseUrl + "api/Setup/GetPackagingInstruction");
    }
    private bool IsValidation_Ins()
    {
        bool flag = false;
        if (packagingIns.PACKAGING_INSTRUCTION == "" || packagingIns.PACKAGING_INSTRUCTION == string.Empty || packagingIns.PACKAGING_INSTRUCTION == null)
        {
            toastService.ShowWarning("Instruction Field Cannot be empty!");
            flag = true;
        }

        return flag;
    }
    //-

    public async Task SaveTermsConditions()
    {

        if (IsValidation_TermsConditions() != true)
        {
            try
            {
                var data = await Http.PostJsonAsync<PurchaseTermsConditionsModel>(Utility.BaseUrl + "api/Setup/AddTermsConditions", termsconditions);
                toastService.ShowSuccess("Insert Successfully!!!");
            }
            catch (Exception ex)
            {

            }

        }
        termsConditionList = await Http.GetJsonAsync<List<PurchaseTermsConditionsModel>>(Utility.BaseUrl + "api/Setup/GetTermsConditions");
    }
    private bool IsValidation_TermsConditions()
    {
        bool flag = false;
        if (termsconditions.TERMS_AND_CONDITIONS == "" || termsconditions.TERMS_AND_CONDITIONS == string.Empty || termsconditions.TERMS_AND_CONDITIONS == null)
        {
            toastService.ShowWarning("Terms & Condition Field Cannot be empty!");
            flag = true;
        }

        return flag;
    }
    private async void Local_Tab_Click()
    {
        _localcolor = "gray";
        _intcolor = "ghostwhite";
        IL_OPTION = 1;
        selectedVendorList = vendorList.FindAll(x => x.VENDOR_TYPE_STATUS == "Local");
        await GetPaymentTerm();
    }
    private async void Int_Tab_Click()
    {
        _localcolor = "ghostwhite";
        _intcolor = "gray";
        IL_OPTION = 2;
        selectedVendorList = vendorList.FindAll(x => x.VENDOR_TYPE_STATUS == "International");
        await GetPaymentTerm();


        //list.Where(w => w.Name == "height").ToList().ForEach(s => s.Value = 30);
    }
    public List<string> checkedPackIds { get; set; } = new List<string>();
    void PackagingCheckboxClicked(string packagingInsid, object checkedValue)
    {
        if ((bool)checkedValue)
        {
            if (!checkedPackIds.Contains(packagingInsid))
            {
                checkedPackIds.Add(packagingInsid);
            }
        }
        else
        {
            if (checkedPackIds.Contains(packagingInsid))
            {
                checkedPackIds.Remove(packagingInsid);
            }
        }
        packaging_instruction_No = String.Join(",", checkedPackIds);
    }
    public List<string> checkedOtherTermsIds { get; set; } = new List<string>();
    void OtherTermsClicked(string termsConditionids, object checkedValue)
    {
        if ((bool)checkedValue)
        {
            if (!checkedOtherTermsIds.Contains(termsConditionids))
            {
                checkedOtherTermsIds.Add(termsConditionids);
            }
        }
        else
        {
            if (checkedOtherTermsIds.Contains(termsConditionids))
            {
                checkedOtherTermsIds.Remove(termsConditionids);
            }
        }
        terms_And_Conditions_No = String.Join(",", checkedOtherTermsIds);
    }

    //private void CreateOutputReport(DataSet reprotOutputData)
    //{
    //    PrintInformationOutputItem outputItem = new PrintInformationOutputItem();
    //    try
    //    {
    //        outputItem.dataSet = DS_OUTPUT_DATA;
    //        if (DS_OUTPUT_DATA != null && DS_OUTPUT_DATA.Tables[0].Rows.Count > 0)
    //        { _ReportService.output(OutputReportSupport.GetReportConfig(outputItem), outputItem.dataSet); }
    //        else { MessageBox.Show("", "Info"); }
    //    }
    //    catch (Exception ex)
    //    {  }

    //}
}
