@page "/QuotationList"
@layout CustomLayout
@inject HttpClient Http
@inject IToastService toastService
@inject IJSRuntime js

<div class="card" style="height:100%">
    <div class="card-header">
        Quotation List &nbsp;
        <a href="SalesQuotation">New Quotation</a>
        @*<label for="submitbutton" class="btn btn-outline-primary">Download Quotation</label>*@
        @*<form action="Excel/SalesQuotation" method="post" style="display:none">
                <button type="submit" id="submitbutton"></button>
            </form>*@
        @if (checkStatus == true)
        {
            <form action="Excel/SalesQuotation" method="post" style="display:none">
                <button type="submit" id="submitbutton"></button>
            </form>
        }



        <div style="float:right">
            <label>@StartNumber-@EndNumber of @customerList.Count()</label> <a style="color:Highlight"><i class='bi bi-arrow-left-circle' style="font-size:30px" @onclick="@(e => NavigatTo("prev"))"></i></a>&nbsp;&nbsp;<a style="color:Highlight"><i class='bi bi-arrow-right-circle' style="font-size:30px;margin-right:10px" @onclick="@(e => NavigatTo("next"))"></i></a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                @*<th></th>*@
                <th></th>
                <td>New PO</td>
                <th>Quotation No</th>
                <td>Quotation Date</td>
                <td>Customer</td>
                <td>Sales Person</td>
                <td>Quotation<br />Type</td>


            </tr>

        </thead>
        <tbody>
            @if (AllquotationList != null)
            {
                foreach (var item in AllquotationList)
                {
                    @*@onclick=@(() => GetPOData(item.PO_ID))*@
            <tr>
                @*<td style="text-align:center"><input type="checkbox" @onchange="eventArgs => { CheckboxClicked((item.SALES_QUOTATION_ID), eventArgs.Value); }" /></td>*@
                <td style="text-align:center;width:30px"><a href="EditSalesQuotation/@item.QUOTATION_NO"><span class="oi oi-pencil"></span></a></td>
                <td style="text-align:center;width:85px"><a href="SalesOrder/@item.QUOTATION_NO">New PO</a></td>
                <td style="width:150px"><a style="color:Highlight;cursor:pointer" @onclick=@(() => GetSalesQuotationById(item.SALES_QUOTATION_ID))>@item.QUOTATION_NO</a></td>

                <td>@item.QUOTATION_DATE</td>
                <td>@item.CUSTOMER_NAME_SHORT_FORM</td>
                <td>@item.SALES_PERSON</td>
                <td>@item.QUOTATION_TYPE</td>


            </tr>
                }
            }


        </tbody>
    </table>
</div>


@*-------------Modal-----------------*@

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="col-md-12">

        </div>
        <div class="modal-content">
            <div class="modal-header">

                <div class="form-outline">
                    <h4 class="p-2"><img src="images/fountain-pen.png" alt="" width="50" height="50" class="mr-3"><span class="text-uppercase"> UPDATE SHIPMENT INFORMATION</span>  </h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@customer">
                    <table class="table">
                        <thead style="font-weight:bold">
                            <tr>
                                <td>PO NO</td>
                                <td>PO Date</td>
                                <td>Supplier</td>
                                <td>Concern Person</td>

                            </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                    <br />
                    <table class="table table-striped ">
                        <thead style="font-weight:bold">
                            <tr>
                                <td scope="col" colspan="3">ETD with QTY</td>
                                <td scope="col" colspan="3">ETA to CTG</td>
                                <td scope="col" colspan="3">EA at TL-WH</td>
                            </tr>
                            <tr>
                                <td>1st Date</td>
                                <td>2nd Date</td>
                                <td>3rd Date</td>
                                <td>1st Date</td>
                                <td>2nd Date</td>
                                <td>3rd Date</td>
                                <td>1st Date</td>
                                <td>2nd Date</td>
                                <td>3rd Date</td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <br />
                    <table width="100%">
                        <thead style="font-weight:bold">
                            <tr>
                                <td>Receive Date</td>
                                <td>Shipment Status</td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </EditForm>
            </div>

            <div class="modal-footer">
                <div>
                    <button class="btn btn-info" data-dismiss="modal" style="border:none;width:120px;float:right;margin-left:10px" @onclick="SaveCustomer">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>

        </div>
    </div>
</div>



@code {

    CustomerModel customer = new CustomerModel();
    List<CustomerViewModel> allcustomerList = new List<CustomerViewModel>();
    List<CustomerViewModel> customerList = new List<CustomerViewModel>();
    List<SalesQuotationView> AllquotationList = new List<SalesQuotationView>();
    List<SalesQuotationView> quotationList = new List<SalesQuotationView>();
    SalesQuotationView salesQuotationInfo = new SalesQuotationView();
    List<SalesQuotationItemView> salesQuotationItemList = new List<SalesQuotationItemView>();
    List<PurchaseTermsConditionsModel> termsConditionList = new List<PurchaseTermsConditionsModel>();
    public int pageSize { get; set; }
    public int TotalPage { get; set; }
    public int Currentpage { get; set; }
    public int StartNumber { get; set; }
    public int EndNumber { get; set; }
    bool checkStatus = false;
    int iOption = 0;

    protected override async Task OnInitializedAsync()
    {
        AllquotationList = await Http.GetJsonAsync<List<SalesQuotationView>>(Utility.BaseUrl + "api/Sales/GetAllQuotation");
        quotationList = await Http.GetJsonAsync<List<SalesQuotationView>>(Utility.BaseUrl + "api/Sales/GetAllQuotation");
        //AppState.salesQuotation = quotationList;
        Pagination();
    }
    public async Task SaveCustomer()
    {

    }
    private void NavigatTo(string direction)
    {
        if (direction == "prev" && Currentpage != 0)
            Currentpage -= 1;
        if (direction == "next" && Currentpage != TotalPage - 1)
            Currentpage += 1;

        UpdateList(Currentpage);
    }
    private void UpdateList(int pageNumber)
    {
        AllquotationList = quotationList.Skip(pageNumber * pageSize).Take(pageSize).ToList();
        Currentpage = pageNumber;
        if (allcustomerList.Count > 0)
        {
            StartNumber = AllquotationList.FirstOrDefault().SL;
            EndNumber = AllquotationList[AllquotationList.Count - 1].SL;
        }

    }
    private void Pagination()
    {
        pageSize = 20;
        if (quotationList.Count > 0)
        {
            AllquotationList = quotationList.Take(pageSize).ToList();
            TotalPage = (int)Math.Ceiling(customerList.Count() / (decimal)pageSize);
            StartNumber = AllquotationList.FirstOrDefault().SL;
            EndNumber = AllquotationList[AllquotationList.Count - 1].SL;
        }

    }
    async void CheckboxClicked(int poId, object checkedValue)
    {
        if ((bool)checkedValue)
        {

            await GetSalesQuotationById(poId);
            checkStatus = true;
            StateHasChanged();
        }
    }
    private async Task GetSalesQuotationById(int poId)
    {

        salesQuotationInfo = await Http.GetJsonAsync<SalesQuotationView>(Utility.BaseUrl + "api/Sales/GetsalesQuotationInfoById/" + poId);
        if (salesQuotationInfo.TERMS_AND_CONDITION != null && salesQuotationInfo.TERMS_AND_CONDITION != "")
        {
            termsConditionList = await Http.GetJsonAsync<List<PurchaseTermsConditionsModel>>(Utility.BaseUrl + "api/Sales/GetSalesTermsAndConditionsByIds/" + salesQuotationInfo.TERMS_AND_CONDITION);
            AppState.SalestermsConditionList = termsConditionList;
        }

        //porder.REPORT_TYPE = "1";
        salesQuotationItemList = await Http.GetJsonAsync<List<SalesQuotationItemView>>(Utility.BaseUrl + "api/Sales/GetSalesQuotationItemListById/" + poId);
        //porder.pOrderDetailsList = purchaseOrderDetailsList;
        AppState.salesQuotation = salesQuotationInfo;
        AppState.salesQuotationitemList = salesQuotationItemList;

        await js.InvokeAsync<object>("open", "api/RDLCReport/GetSalesQuotation", "_blank");
    }
    private void Download()
    {
        if (checkStatus == true)
        {
            iOption = 1;
            StateHasChanged();


        }
        else { toastService.ShowWarning("Please Select Item For Download"); }

    }

}
